.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 10px; 
}
 
.product-card {
    border: 1px solid #38006d; 
    border-radius: 8px; 
    padding: 16px; 
    text-align: center; 
    color: black; 
    background-color: rgb(210, 152, 228);
}
 
.product-card img {
    max-width: 25%; 
    height: auto;
}
h1{
    text-align: center;
}